{% load static %}
<!DOCTYPE html>
  <head>
    <script src="{% static 'solarpv/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'solarpv/jquery.validate.js' %}"></script>
    <script src="{% static 'solarpv/login.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'solarpv/decor.css' %}">
    <title>Solar PV: Login</title>
  </head>
  <body>
  </br>
  <div class="container"> 
    <div class="banner">
      <img class="compbanner" src="{% static 'solarpv/banner.png' %}">
    </div>
    <div class="header">
      <a href="{% url 'about' %}">About Us</a> | 
      <a href="{% url 'contact' %}">Contact Us</a><br>
      <a href="http://www.twitter.com"><img class="socialmedia" src="{% static 'solarpv/twitter.png' %}"></a> 
      <a href="http://www.facebook.com"><img  class="socialmedia" src="{% static 'solarpv/fbook.png' %}"></a> 
      <a href="http://www.instagram.com"><img class="socialmedia" src="{% static 'solarpv/instagram.png' %}"></a>
    </div>
    <div class="nav">
      <a href="{% url 'blank' %}">Racks & Trackers</a> | 
      <a href="{% url 'blank' %}">PV Module</a> | 
      <a href="{% url 'blank' %}">PV Systems</a> | 
      <a href="{% url 'blank' %}">Data Analytics</a> | 
      <a href="{% url 'blank' %}">Cybersecurity</a>
    </div>
    <div class="l_sidebar">
      <div class="account">
        <a href="{% url 'register' %}">Register</a> | 
        <a href="{% url 'login' %}">Login</a>
      </div>
  	  <p><h3><a href="pvmod.html">PV Module</a></h3></p>
  		<ul>
  			<li><a href="{% url 'blank' %}">Testing & Certification</a></li>
  			<li><a href="{% url 'blank' %}">PV Rating</a></li>
  		</ul>
  	  <p><h3><a href="{% url 'blank' %}">PV System Performance</a></h3></p>
  		<ul>
  			<li><a href="{% url 'blank' %}">Monitoring & Inspection</a></li>
  			<li><a href="{% url 'blank' %}">Performance Analysis</a></li>
  			<li><a href="{% url 'blank' %}">Compare System</a></li>
  			<li><a href="{% url 'blank' %}">Certification</a></li>
  		</ul>
    </div>
    <div class="content">
      <h1>Login</h1>
      <form class="loginForm" id="loginForm" method="get" action="">
        <table class="logintable">
          <tbody>
            <tr>
              <td><label for="lusername">Username: </label></td>
              <td><input id="lusername" name="lusername" type="text" autofocus></td>
            </tr>
            <tr>
              <td><label for="lpassword">Password: </label></td>
              <td><input id="lpassword" name="lpassword" type="password"></td>
            </tr>
            <tr>
              <td colspan="2"><p id="security">Security Check: Are You Human? Drag the checkbox below to the left box before logging in</p></td>
            </tr>
            <tr>
              <td><div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
              </td>
              <td><img id="drag1" src="{% static 'solarpv/security.jpg' %}" draggable="true" ondragstart="drag(event)" width="30" height="50">
              </td>
            <tr>
              <td colspan="2"><input type="submit" value="Login" class="loginsub" disabled></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="r_sidebar">
       <svg width="214" height="460">
         <rect x="2" y="4" rx="20" ry="20" width="214" height="450"
         style="fill:darkgray;stroke:black;stroke-width:5;opacity:0.5" />
       </svg>
       <h2>Solar News & Events</h2>
  	   <p><a href="https://activatenow.us/tulsi-gabbard-mark-ruffalo-attend-grand-opening-first-solar-energy-farm-nd-standing-rock/">Grand Opening of First Solar Energy Farm in ND</a></p>
  	   <p><a href="https://techcrunch.com/2019/07/05/toyota-testing-improved-solar-roof-for-electric-cars-that-can-charge-while-driving/">Toyota testing improved solar roof for electric cars that can charge while driving</a></p>
  	   <p><a href="https://cleantechnica.com/2019/01/21/the-rooftop-solar-neighborhood-effect-transforms-florida-community/">The Rooftop Solar “Neighborhood Effect” Transforms Florida Community</a></p>
  	   <p><a href="https://www.treehugger.com/solar-technology/solar-road-france-generates-half-power-expected.html">Solar road in France generates half the power expected</a></p>
  	   <p><a href="https://news.yahoo.com/carbon-nanotubes-could-increase-solar-190100237.html">Carbon Nanotubes Could Increase Solar Efficiency to 80 Percent</a></p>
    </div>
    <div class="bottom">
      <table>
        <tr>
          <td>Solar PV</td>
          <td>@ 2019 All Rights Reserved</td>
        </tr>
      </table>
      <section class="compinfo"></br>
        <h3>Location:</h3> 
          6425 Penn Ave, Pittsburgh, PA 
        <h3>Phone:</h3> 
          724-555-7194 
        <h3>E-mail: </h3> 
        <a href="mailto:Contact@SolarPV.com">Contact@SolarPV.com</a> 
        <h3>Website:</h3> 
        <a href="{% url 'index' %}">www.SolarPV.com</a>
      </section>
    </div>
    <div class="footer">
      <a href="{% url 'blank' %}">Site Map</a> | 
      <a href="{% url 'blank' %}">Terms & Conditions</a> | 
      <a href="{% url 'blank' %}">Privacy Policy</a> | 
      <a href="{% url 'about' %}">About Us</a>
    </div>
  </div>
  </body>
</html>